# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Static media
static/*.jpg
*.jpg
*.png
*.mp4
*.tif
*.log

# Models
model/*.bin
model/*.param
*.onnx
*.pt

# Editor/IDE
.vscode/
.idea/
*.swp

# Environment
.env

# Configurations (do not track sensitive or local setup)
config/*.json

# Zähl- & Konfigurationsdaten (nicht tracken)
backend/config/bbox_config.json
data/counter.json


# Live data (privacy relevant)
data/live/
*.db

# Development artifacts
dumpster/
.mypy_cache/
*.egg-info/

# Laufzeit-Dateien
camera.lock
data/counter.json

# Hailo Repos
hailo-rpi5-examples/
hailo-apps-infra/
dumbster/hailo-rpi5-examples
external/hailo-apps-infra
