# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Static media
static/*.jpg
*.jpg
*.png
*.mp4
*.tif
*.log

# Models
model/*.bin
model/*.param
*.onnx
*.pt

# Editor/IDE
.vscode/
.idea/
*.swp

# Environment
.env

# Konfigurationsdaten (nicht tracken)
config/*.json

# Live-Daten – nicht tracken
data/live/live_frame.npy
data/live/counter.json
data/live/log.db
